<div class="container">
    <div class="center">
      <form>
        <div class="form-group">
          <div class="row">
            <div class="col-12 col-xs-12 col-sm-12 col-lg-12 p-2">
              <label for="exampleFormControlFile1">Elegir foto de perfil</label>
                  <input type="file" (change)="subirImagenServer($event.target.files)" class="form-control-file input-sm" accept="image/png, image/jpeg" id="exampleFormControlFile1">
            </div>
          </div>
        </div>
      </form>
    </div>
    <form [formGroup]="datosPersonalesGroup" (ngSubmit)="saveDatosPersonalesForm()">
      <div class="row">
        <div class="col-12 col-xs-12 col-sm-12 col-lg-4 p-2">
          <label for="nombre">Nombre:</label>
          <input type="text" class="form-control input-sm" placeholder="Nombre *" formControlName="nombre" [class.is-invalid]="getValidateFormControl('nombre')">
          <small *ngIf="getValidateFormControl('nombre')" class="text-danger">
            Ingrese el nombre
          </small>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-lg-4 p-2">
          <label for="apellidos">Apellidos:</label>
          <input type="text" class="form-control" placeholder="Apellidos *" formControlName="apellidos" [class.is-invalid]="getValidateFormControl('apellidos')">
          <small *ngIf="getValidateFormControl('apellidos')" class="text-danger">
            Ingrese los apellidos
          </small>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-lg-4 p-2">
          <label for="puesto">Puesto actual:</label>
          <input type="text" class="form-control" placeholder="Puesto actual *" formControlName="puesto" [class.is-invalid]="getValidateFormControl('puesto')">
          <small *ngIf="getValidateFormControl('puesto')" class="text-danger">
            Ingrese el puesto actual que ocupa
          </small>
        </div>
      </div>
      <div class="row pt-4">
          <div class="col-12 col-xs-12 col-sm-12 col-lg-4 p-2">
            <label for="nacimiento">Fecha de nacimiento:</label>
            <input type="date" class="form-control" placeholder="Fecha de Nacimiento (dd/mm/aaaa) *" formControlName="nacimiento" [class.is-invalid]="getValidateFormControl('nacimiento')">
            <small *ngIf="getValidateFormControl('nacimiento')" class="text-danger">
            Ingrese la fecha de nacimiento
          </small>
          </div>
          <div class="col-12 col-xs-12 col-sm-12 col-lg-4 p-2">
            <label for="telefono">Teléfono:</label>
            <input type="number" min="8" max="13" class="form-control" placeholder="Teléfono *" formControlName="telefono" [class.is-invalid]="getValidateFormControl('telefono')">
            <small *ngIf="getValidateFormControl('telefono')" class="text-danger">
            Ingrese el teléfono
          </small>
          </div>
          <div class="col-12 col-xs-12 col-sm-12 col-lg-4 p-2">
            <label for="email">Correo Electrónico:</label>
            <input type="email" class="form-control" placeholder="Correo Electrónico *" formControlName="email" [class.is-invalid]="getValidateFormControl('email')">
              <small *ngIf="getValidateFormControl('email')" class="text-danger">
            Ingrese el correo electrónico de contacto
          </small>
            </div>
      </div>
      <div class="row pt-4">
          <div class="col-12 col-xs-12 col-sm-12 col-lg-12 p-2">
            <label for="direccion">Dirección:</label>
            <input type="text" class="form-control" placeholder="Dirección *" formControlName="direccion" [class.is-invalid]="getValidateFormControl('direccion')">
            <small *ngIf="getValidateFormControl('direccion')" class="text-danger">
            Ingrese la dirección
          </small>
          </div>
      </div>
      <div class="row pt-4">
          <div class="col-12 col-xs-12 col-sm-12 col-lg-4 p-2">
            <label for="poblacion">Población:</label>
            <input type="text" class="form-control" placeholder="Población *" formControlName="poblacion" [class.is-invalid]="getValidateFormControl('poblacion')">
            <small *ngIf="getValidateFormControl('poblacion')" class="text-danger">
            Ingrese la población donde reside
          </small>
          </div>
          <div class="col-12 col-xs-12 col-sm-12 col-lg-4 p-2">
            <label for="provincia">Provincia:</label>
            <input type="text" class="form-control" placeholder="Provincia *" formControlName="provincia" [class.is-invalid]="getValidateFormControl('provincia')">
              <small *ngIf="getValidateFormControl('provincia')" class="text-danger">
            Ingrese la provincia
          </small>
          </div>
          <div class="col-12 col-xs-12 col-sm-12 col-lg-4 p-2">
            <label for="codigoPostal">Código postal:</label>
            <input type="number" min="5" max="10" class="form-control" placeholder="Código Postal *" formControlName="codigoPostal" [class.is-invalid]="getValidateFormControl('codigoPostal')">
              <small *ngIf="getValidateFormControl('codigoPostal')" class="text-danger">
            Ingrese el código postal
          </small>
          </div>
      </div>
      <div class="row pt-4">
          <div class="col-12 col-xs-12 col-sm-12 col-lg-12 p-2">
            <label for="descripcionBreve">Descripción breve:</label>
            <textarea name="descripcionBreve" class="form-control" style="resize: none;" cols="30" rows="10" placeholder="Descripción breve..." formControlName="descripcionBreve"></textarea>
          </div>
      </div>
      <div class="row pt-4">
          <div class="col-12 col-xs-12 col-sm-12 col-lg-12 p-2">
            <label for="descripcionSobreMi">Descripción sobre mí:</label>
            <textarea name="descripcionSobreMi" class="form-control" style="resize: none;" cols="30" rows="10" placeholder="Descripción sobre mí..." formControlName="descripcionSobreMi"></textarea>
          </div>
      </div>
      <div class="row pt-4">
          <div class="form-check col-12 col-xs-12 col-sm-12 col-lg-12 p-2">
              <button type="submit" class="btn btn-primary btn-block">Actualizar</button>
          </div>
      </div>
      </form>
  </div>