<div class="container">
    <div>
        <a [routerLink]="['add-skill']" class="btn btn-success">Añadir Skill</a>
    </div>
    <ng-container *ngIf="skills.length === 0; else elseTemplate">
        <div class="container label-login p-4">
            No hay Skills actualmente.
        </div>
    </ng-container>
    <ng-template #elseTemplate>
        <div class="container p-2">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th class="id-skill text-center" scope="col">#</th>
                    <th class="nombre-skill text-center" scope="col">Skill</th>
                    <th class="tipo-skill text-center" scope="col">Tipo de Skill</th>
                    <th class="acciones-skill text-center" scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let skill of skills[0]; index as i">
                    <th class="id-skill" scope="row"> {{ i+1 }} </th>
                    <td class="nombre-skill text-center" scope="col">{{ skill['nombre_skill'] }}</td>
                    <th class="tipo-skill text-center" scope="col">{{ skill['tipo_skill'] }}</th>
                    <td class="acciones-skill text-center" scope="col">
                        <div class="d-flex justify-content-center">
                            <a [routerLink]="['update-skill', skill['id_skills']]" class="btn btn-success btn-sm ml-2">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                </svg>
                            </a>
                            <button (click)="eliminarSkill(skill['id_skills'])" class="btn btn-danger btn-sm ml-2">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                                </svg>
                            </button>
                        </div>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </ng-template>
</div>