/*
* Estilos propios usados globalmente
*/

/* Clases para el body */

.login {
  background-color: #97aab6;
}

/* HEADER */

.invisible {
  display: none;
}







/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}










/* Botón menú */
.bi-list, .bi-arrows-fullscreen, .bi-box-arrow-right {
    background-color: #243996;
    color: #fff;
    border-radius: 10px;
    padding: 5px!important;
    width: 35px;
    height: 35px;
  }

  .bi-arrows-fullscreen, .bi-box-arrow-right {
    padding: 7px!important;
  }

  .bi-list:hover, .bi-arrows-fullscreen:hover, .bi-box-arrow-right:hover {
    color: rgb(243, 240, 240);
    background-color: #246c96;
    box-shadow: 0 4px 16px rgb(10, 44, 134);
  }
  i-bs:hover {
    cursor: pointer;
  }

  /* FOOTER */

  footer {
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: #F8F9FA;
    padding: 1rem;
    text-align: center;
  }

  footer > div > a {
    color: #000;
    font-weight: bold;
  }

  footer > div > a:hover {
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }

  /* Estilo de scrollBar */

  /* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #797979; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #494949; 
}


  /* Estilo del contenido */

  .contenido-pagina {
    padding: 0.5rem;
  }


/* Estilos Login Usuario */

#div-login {
  background-color: #fafafa;
  padding: 2rem;
  border: 2px solid #899694;
  border-radius: 1rem;
}

.label-login {
  font-family: 'Lobster', cursive;
}

.input-login:focus {
  color: #001a52;
}

.input-login {
  color: #0b86a5;
}

.submit-login {
  color: #fff;
  background-color: #0b86a5!important;
  border-color: #0b86a5!important;
  box-shadow: 0px;
}

.submit-login:hover {
  color: #fff;
  background-color: #001a52!important;
  border-color: #001a52!important;
  box-shadow: 0 4px 16px rgb(11, 134, 165)!important;
  transition: all 0.2s ease!important;
}

.submit-login:focus {
  color: #fff;
  box-shadow: 0 4px 16px rgb(11, 134, 165)!important;
}

.submit-login:active {
  color: #fff;
  background-color: #001a52!important;
  border-color: #001a52!important;
  box-shadow: 0 4px 16px rgb(11, 134, 165)!important;
}
.submit-login:active:after {
  color: #fff;
  background-color: #001a52!important;
  border-color: #001a52!important;
  box-shadow: 0 4px 16px rgb(11, 134, 165)!important;
}

/* Estilos de la página interior (generales) */

body {
  font-family: 'Blinker', sans-serif;
}


/* Formularios */

.border-formulario {
  border: 2px solid #0c810c;
}